body {
    width: 1024px;
    margin: 0 auto;
}
header {
    width: 1024px;
    height: 100px;
  background-color: turquoise;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 60% 40%;
}
logo {
  margin: 25px;
  justify-self: end;
}
li {
  display: inline-block;
  padding: 10px;
  }
a:link {
  text-decoration: none;
	color: dimGrey;
}
a:visited {
	border-bottom: 1px solid;
	border-color: #e0b2e0;
	}
